AuthName "SimpleTest basic authentication"
AuthType Basic
# http://httpd.apache.org/docs/2.2/mod/mod_authn_file.html
AuthUserFile ../sites/partikule/bugger/mootools-filemanager/Demos/simpletest/test/site/protected/.htpasswd
require valid-user

