AuthName "SimpleTest basic authentication"
AuthType Basic
# http://httpd.apache.org/docs/2.2/mod/mod_authn_file.html
AuthUserFile C:/prj/sites/visyond.lan/php/lib/SimpleTest/test/site/protected/.htpasswd
require valid-user